@page
@model UploadModel

@{
    ViewData["Title"] = "Upload Student File";
}

<br/>
<h1>
    Upload Student From a CSV file
</h1>
<form method="post" enctype="multipart/form-data">
    <div class="input-group mb-3" >
        <input type="file" asp-for="Upload" class="form-control" />
        <input class="btn btn-outline-secondary" type="submit" />
    </div>
</form>